<!DOCTYPE html>
<html>
<head>
  <title></title>
  <base target="_parent"/>
  <style>
      body {
          overflow: hidden;
          margin: 0px;
      }

      .table {
          display: table;
          width: 100%;
      }



      .row {
          display: table-row;
          width: 100%;
      }

      td{
          padding: 0px;
          margin:0px;
      }
      .cell {
          display: table-cell;
          vertical-align: top;
          width: 60%;
      }

      .contents {
          margin: 5px 5px 30px 5px;
          bottom: 0px;
      }

       #main-display{
           border: 1px dotted #999;
           padding: 0px;
           margin: 0px;
           text-align: center;
           width: 100%;
           overflow: hidden !important;
           height: 710px;
       }

  </style>
  <script type="text/javascript">

      function resizeIframe(id){

          var frame = document.getElementById(id);
          frame.height = frame.contentWindow.document.body.scrollHeight + "px";
          frame.width = frame.contentWindow.document.body.scrollWidth + "px";
      }
  </script>
</head>
<body onresize="resizeTable()" onload="resizeTable();switchViews(0)">

<div id="main" class="table">
  <div class="row">
    <div style="height: auto; text-align: center;background-color: #f5f5f5;border: 1px solid rgba(0, 0, 0, 0.05);border-radius: 4px;">

      <table class="table">
        <tr>
          <td style="margin:0px; padding: 0px; overflow: hidden !important;">
            <iframe scrolling="no"  onload="resizeIframe('main-display')" id="main-display" src="/home/map_main"></iframe>
          </td>
        </tr>
        <tr>
          <td style="font-size: 1.2em;">
            <table class = "table">
              <tr>
                <td class="alert alert-dismissable alert-danger" style="border:none; padding-top: 2.5px;">
                  <strong>Urgent : <%= @alerts["urgent"].length%> </strong>
                </td>
                <td  class="alert alert-dismissable alert-warning" style="border:none; padding-top: 2.5px;">
                  <strong>Average : <%= @alerts["average"].length%></strong>
                </td>
                <td  class="alert alert-dismissable alert-success" style="border:none; padding-top: 2.5px;">
                  <strong>Normal : <%= @alerts["normal"].length%> </strong>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      </table>
    </div>
    <div class="cell">
      <table>
        <tr>
          <td>
            <iframe scrolling="no" id="report-display-dynamic" style="border: none;overflow: auto;"></iframe>
          </td>
        </tr>
          <tr>
          <td>
            <iframe scrolling="no"  id="report-display-static" style="border: none;overflow: auto;"></iframe>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>

<script>
    <!--

    var sites = []
    var current_pos = 0;
    var timerHnd;
    var sleepingTime = 0;

    var timerSpacing = 30; // to be in seconds


    <% (@sites || []).each do |site|
        next if @alerts["normal"].include?(site.name)
    %>

    sites.push('<%= site.name.downcase %>')
    <% end %>

    function __$(id) {
        return document.getElementById(id);
    }

    function switchViews(start_point) {

        sleepingTime = (sleepingTime + timerSpacing);
        clearTimeout(timerHnd);

        if ((current_pos + 1) >= sites.length) {
            current_pos = 0;
        }
        else {
            current_pos += 1;
        }

        if (start_point != 0) {

            jQuery("#report-display-dynamic").fadeOut(1700);
            __$("report-display-dynamic").setAttribute("src", "/report/dynamic_view?site=" + sites[current_pos]);
            jQuery("#report-display-dynamic").fadeIn(2000);

            if (sleepingTime % (60 * 60 * 1) == 0) { //after 1 hour refresh static panel
                __$("report-display-static").setAttribute("src", "/report/static_view?site=" + sites[current_pos]);
            }
        }else{

            __$("report-display-dynamic").setAttribute("src", "/report/dynamic_view?site=" + sites[current_pos]);
            __$("report-display-static").setAttribute("src", "/report/static_view?site=" + sites[current_pos]);
        }

        timerHnd = setTimeout("switchViews(1)", timerSpacing * 1000);
    }

    function resizeTable() {

        __$("main").style.height = (window.innerHeight - 90) + "px";
        __$("report-display-static").style.width = (screen.width * 0.645) + "px";
        __$("report-display-dynamic").style.width = (screen.width * 0.65) + "px";
        __$("main-display").style.width = (screen.width * 0.345) + "px";

        <% if ((params[:dashboard].to_s == "true") rescue false)%>

            __$("main-display").style.height = (window.innerHeight - 60) + "px";
            __$("report-display-dynamic").style.height = (0.55 * window.innerHeight) + "px";
            __$("report-display-static").style.height = (0.5 * window.innerHeight) + "px";
            __$("report-display-static").style.paddingTop = "25px"
        <% else %>

            __$("main-display").style.height = (window.innerHeight - 153) + "px";
            __$("report-display-dynamic").style.height = (0.45 * window.innerHeight) + "px";
            __$("report-display-static").style.height = (0.5 * window.innerHeight) + "px";
            <% end %>
    }
    //-->
</script>

</body>
</html>
