
development:
  adapter: mysql
  database: data_quality
  username: root
  password: password
  host: localhost
  pool: 50000

production:
  adapter: mysql
  database: data_quality
  username: root
  password: password
  host: localhost
  pool: 50000
