

<html>
<head>
  <title>Dynamic View</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootswatch.css"/>
  <script src="/javascripts/jquery.js" charset="utf-8"></script>

  <style>
      body {
          padding-top: 0px;
      }

      #main {
          width: 85%;
          margin-left: 5%;
      }

      td {
          font-size: 1.3em !important;
      }

      .num{
          text-align: center;
      }

      .large {
          font-size: 1.8em;
          color: lightgray !important;
      }

      .panel-heading{

      }
      .panel-label {
         padding-left: 30px !important;
      }
      .panel{
          margin: 3%;
          margin-top: 0%;
          width: 88%;
      }
      .badge{
          font-size: 0.72em !important;
          min-width: 60px;
      }
  </style>
</head>
<body onload="resize()">
 <div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title large"><%= @site_name%></h3>
  </div>
  <table class="table table-condensed">

    <tbody>
    <% (@site_errors[0 .. 6] || @site_errors || []).each do |rule, n|%>
        <tr>
          <td class="panel-label"><%= rule%></td>
          <td class="num"><span class="badge"><%= n%></span></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  </div>
<script type="text/javascript">
    function resize(){

        var panel = document.getElementsByClassName("panel")[0];
        panel.style.minHeight = ( 0.85 * window.innerHeight) + "px";
    }

    jQuery.ajax({
        url: '/site/update_current_site',
        type: 'POST',
        data: {site: '<%= @site_name%>'}
    });

</script>

</body>
</html>
