

<html>
<head>
  <title>Dynamic View</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootswatch.css"/>

  <style>
      body {
          padding-top: 0px;
      }

      #main {
          width: 85%;
          margin-left: 5%;
      }

      td {
          font-size: 1.5em !important;
      }

      .num{
          text-align: center;
      }
      thead{
          font-size: 2em;
          background: white;
          font-weight: bold;
      }
  </style>
</head>
<body>
<div id="main">
  <table class="table table-condensed"">
    <thead>
    <tr>
      <th><%= @site_name %></th>
      <th class="num"></th>
    </tr>
    </thead>
    <tbody>
    <% (@site_errors[0 .. 4]).each do |rule, n|%>
        <tr>
          <td><%= rule%></td>
          <td class="num"><%= n%></td>
          <td class="num"><%= n%></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<script type="text/javascript">

</script>

</body>
</html>
