
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#drugs').dataTable({
            "aaSorting": [[ 0, "asc" ]],
            'iDisplayLength': 20,
            "bLengthChange": false,
            "bFilter": false
        });
    } );
</script>


<div style="width: 100%;text-align: center;">
  <table class="display" id="drugs" width="100%">
    <thead>
    <tr>
      <th style="width: 15%;">Date</th>
      <th style="text-align: left;">Rule</th>
      <th style="width: 10%;">Violation</th>
    </tr>
    </thead>
    <tbody>
    <% (@results.keys || []).each do |day|%>
        <% (@results[day] || []).each do |rule, amount|%>
            <tr>
              <td><%= day.strftime('%d %B %Y') %></td>
              <td style="text-align: left;"><%= rule %></td>
              <td><%= number_with_delimiter(amount, :delimeter => ',') %></td>
            </tr>
        <% end %>
    <% end %>
    </tbody>
  </table>
</div>
