<html>
<head>
  <title>Site summary</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootswatch.css"/>

  <style>

  </style>
</head>
<body>

  <div class="table_div">
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>Rule</th>
          <th>Violations</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Patients without start reasons</td>
          <td>9</td>
        </tr>
        <tr>
          <td>Patients without outcomes</td>
          <td>4</td>
        </tr>
      </tbody>
    </table> 
  </div>

</body>
</html>
