<html>
<head>
  <title>Dynamic View</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootswatch.css"/>

  <style>
      body {
          padding-top: 0px;
      }

      .large {
          font-size: 1.35em;
       }

      .panel-heading{
          background-color: #2fa4e7 !important;
          color: white !important;
      }

      .panel{
          margin: 3%;
          margin-top: 0%;
          width: 88%;
      }
      #report-display{
          min-height: 210px;
      }
  </style>
</head>
<body onload="resize()">
<div class="panel panel-danger">
  <div class="panel-heading">
    <h1 class="panel-title large">Sites Requiring Urgent Attention</h1>
  </div>
        <iframe scrolling="no" id="report-display" src = "/report/sites_summary_graph" style="width: 100%;border: none;" ></iframe>
</div>

<script type="text/javascript">
    function resize(){

        var panel = document.getElementsByClassName("panel")[0];
        //panel.style.minHeight = (0.72 * window.innerHeight) + "px";
    }
</script>

</body>
</html>
