<html>
<head>
  <title>Dynamic View</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootswatch.css"/>

  <style>
      body {
          padding-top: 0px;
      }

      .large {
          font-size: 2em;
          color: red !important;
          font-weight: bold !important;
      }

      .panel-heading{
          background: white !important;
      }
      .panel-body{
          font-size: 1.9em !important;
          font-weight: bold !important;
          padding: 10px !important;
          padding-left: 30px !important;
      }
      .panel{
          margin: 3%;
          margin-top: 0%;
          width: 88%;
      }
  </style>
</head>
<body>
<div class="panel panel-warning">
  <div class="panel-heading">
    <h1 class="panel-title large">Sites Requiring Urgent Attention</h3>
  </div>
  <%(@priority_sites[0 .. 4] || []).each do |site|%>
  <div class="panel-body">
    <%= site%>
  </div>
  <% end %>
</div>

<script type="text/javascript">

</script>

</body>
</html>
