<html>
<head>
  <title>Dynamic View</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" media="screen"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootswatch.css"/>

  <style>
      body {
          padding-top: 0px;
      }

      .large {
          font-size: 1.8em;
          color: lightgray !important;
       }

      .panel-heading{

      }
      .panel-body{
          font-size: 1.6em !important;
          padding: 2px !important;
          padding-left: 30px !important;
      }
      .panel{
          margin: 3%;
          margin-top: 0%;
          width: 88%;
      }
  </style>
</head>
<body onload="resize()">
<div class="panel panel-danger">
  <div class="panel-heading">
    <h1 class="panel-title large">Sites Requiring Urgent Attention</h3>
  </div>
  <%(@priority_sites.keys[0 .. 5] || []).each do |site|%>
  <div class="panel-body">
    <%= site%>
  </div>
  <% end %>
</div>

<script type="text/javascript">
    function resize(){

        var panel = document.getElementsByClassName("panel")[0];
        panel.style.minHeight = (0.72 * window.innerHeight) + "px";
    }
</script>

</body>
</html>
