<link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" media="screen" />
<link rel="stylesheet" type="text/css" href="/stylesheets/bootswatch.css" />
<script type="text/javascript" src="/javascripts/jquery.js"></script>
<script type="text/javascript" src="/javascripts/jquery.validate.min.js"></script>

<style>
    body{
        padding-top: 0px !important;
    }
</style>

<div class="panel panel-info" id="userList">
  <div class="panel-heading">
    <h3 class="panel-title">Add Site</h3>
  </div>
  <div class="panel-body">

    <%= form_tag('/site/save_site', :method => 'post', :enctype => 'multipart/form-data',
                 :id => 'site-form', :class => "form-horizontal", :autocomplete => "off",:role => "form", :novalidate=> "novalidate") do %>
        <fieldset>
        <div class="form-control-group">
            <label for="inputName" class="col-lg-2 control-label">Site Name</label>
            <div class="col-lg-10">
              <input class="form-control" id="site" name="site" placeholder="Site name">
            </div>
        </div>
          <br/><br/><br/>
          <div class="form-control-group">
            <label for="inputCode" class="col-lg-2 control-label">Site Code</label>
            <div class="col-lg-10">
              <input class="form-control" id="code" name="code" placeholder="Site code">
            </div>
          </div>
          <br/><br/><br/>
        <div class="form-control-group">
          <label for="inputHost" class="col-lg-2 control-label">Host Address</label>
          <div class="col-lg-10">
            <input class="form-control" id="host" name="host" placeholder="Host Address" >
          </div>
        </div>
          <br/><br/><br/>

        <div class="form-control-group">
            <label for="inputPort" class="col-lg-2 control-label">Application Port</label>
            <div class="col-lg-10">
              <input class="form-control" id="port" name="port" placeholder="Application Port" >
            </div>
        </div>
        <br/><br/><br/>
          <div class="form-control-group">
          <label for="inputPassword" class="col-lg-2 control-label">Region</label>
          <div class="col-lg-10">
            <select id="region" name="region" class="form-control" placeholder="Region" required="" onchange="switchRegion(this.value)" >
              <option value="">[ - Select site region in Malawi - ]</option>
              <option value="Centre">Central Region</option>
              <option value="North">Northern Region</option>
              <option value="South">Southern Region</option>
            </select>
          </div>
         </div>
          <br/><br/><br/>
          <div class="form-control-group">
            <label for="inputPassword" class="col-lg-2 control-label">Site Location</label>
            <div class="col-lg-10">
              <iframe id="map" style="border: 1px dotted #999; padding: 0px; text-align: center; width: 70%; overflow: hidden !important; height: 600px;" src="/map?region"></iframe>
            </div>
          </div>
          <input name="x" class="form-control" id="x" required="" value="" type="hidden" />
          <input name="y" class="form-control" id="y" required="" value="" type="hidden" />
          <br/><br/><br/><br/><br/><br/>
          <div class="form-group">
            <div class="col-lg-10 col-lg-offset-2" style="margin-top: 5px;">
              <button class="btn btn-danger btn-sm" onmousedown="window.location= '/'">Cancel</button>
              <button class="btn btn-success btn-sm" onmousedown="verify_form('add')">Save</button>
            </div>
          </div>
        </fieldset>

    <% end %>
  </div>
</div>

<script defer="true">
  <!--

  jQuery.validator.addMethod("host", function(value, element) {
      return this.optional(element) || /^\d+\.\d+\.\d+\.\d+/.test(value);
  }, "Not a valid IP address.");

    function switchRegion(region){
        document.getElementById("map").setAttribute("src", "/map?region=" + region.toLowerCase().trim());
    }

  $(document).ready(function(){

      $('#site-form').validate({
          rules: {
              sitename: {required: true},
              ip_address: {required: true},
              port: {required:true}
          },
          messages: {
              sitename: {required: "Please provide a name for the site"},
              ip_address: {required: "Please provide an IP Address for the site"},
              port: {required: "Please provide the port for the application"},
              region: {required: "Please select the region for the site"}
          },
          highlight: function(element) {
              $(element).closest('.control-group').removeClass('success').addClass('error');
          },
          success: function(element) {
              element
                      .text('OK').addClass('success')
          }
      });

  }); // end document.ready

  //-->
</script>