<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Data Quality Dashboard</title>
  <script src="/javascripts/jquery.js"></script>
  <script src="/javascripts/bootstrap.js"> </script>
  <script src="/javascripts/bootswatch.js"> </script>
  <script src="/javascripts/highcharts.js"> </script>
  <script type="text/javascript">

  </script>
  <style>

    .navbar-header{
        font-weight: bold;
    }

    .navbar-header img {
        width: 60px;
        height: 43px;
        padding: 0px;
        margin: 0px;
    }
    div{
        -moz-user-select:none;
    }

    .nav, .navbar, .navbar-default, .navbar-header, .navbar-collapse{
        background: #033c73 !important;
    }
  </style>

  <link rel="stylesheet" type="text/css" href="/stylesheets/bootstrap.css" media="screen" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/bootswatch.css" />
</head>

<body style="padding-top: 0px !important">
 <div class="dynamic navbar navbar-default">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <img class="navbar-brand" src="/images/app.png"/>
    <div class="navbar-brand" style="color: lightgray;">Quality Monitoring Dashboard</div>
  </div>
   <% if !session[:user_id].blank?%>
  <div class="navbar-collapse collapse navbar-responsive-collapse" >
    <ul class="nav navbar-nav">
      <li ><a  style="font-size: 1.1em; color: lightgray;" href="/">Home</a></li>
      <% if User.find(session[:user_id]).role == 'Administrator'%>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" style="font-size: 1.1em; color: lightgray;">Admin<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="/user/index">User Management</a></li>
          <li><a href="/site/index">Site Management</a></li>
        </ul>
      </li>
      <% end %>
    </ul>

    <ul class="nav navbar-nav navbar-right">
      <li><div class="navbar-brand" style="font-size: 1.1em; color: lightgray;">logged in as <b><%= User.find(session[:user_id]).username%></b></div></li>
      <li><a  style="font-size: 1.1em; color: lightgray;" href="/user/logout">logout</a></li>
    </ul>
  </div>
       <% end %>
 </div>

    <%= yield%>
 <div class="dynamic navbar-fixed-bottom" style="min-height: 19px !important; height: 19px; color: white; font-size: 0.95em;
          text-align: center !important; padding-top: 0px !important; background: #033c73">
    <%= Date.today.strftime("%Y") %> <a style="color: white; font-weight: normal;" href="http://www.baobabhealth.org" target="_blank">
   Baobab Health Trust</a>
 </div>

    <script type="text/javascript">

        <% if ((params[:dashboard].to_s == "true") rescue false)%>

        var nodes = document.getElementsByClassName("dynamic");
        for (var i = 0; i < nodes.length; i ++){

            jQuery(nodes[i]).hide();
        }
        <% end %>
    </script>

</body>
</html>
